html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.link{
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	color: black;
	text-transform: uppercase;
	background-color: white;
	border-radius: 100px;
	padding: 10px 20px;
	text-decoration: none;
	font-weight: 500;
	border: solid black 1px;
	width: max-content;
	font-family: futura;
	opacity: 0;
}